<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>
    <div class="white-bg">
      <% for (let i = 0; i < 글목록.length; i++){ %>
        <div class="list-box">
          <h4>
            <a href="/detail/<%= 글목록[i]._id %>" text-decoration : none>
              <%= 글목록[i].title %>
            </a>
          </h4>
          <p>글내용임</p>
        </div>
      <% } %>
    </div>
</body>
</html> 